## Logging Configuration file
## Default level =INFO. Set level to "DEBUG" to log debug/traceback information.

[loggers]
keys=root,PurgeMatrixLogger

[handlers]
keys=fileHandler

[formatters]
keys=myFormatter

[logger_root]
level=DEBUG
handlers=

[logger_PurgeMatrixLogger]
level=DEBUG
handlers=fileHandler
qualname=PurgeMatrixLogger

[handler_fileHandler]
class=logging.handlers.TimedRotatingFileHandler
formatter=myFormatter
args=("log/purgematrix.log", 'd', 7, 5,)

[formatter_myFormatter]
format=[ %(asctime)s ] - { %(filename)s/%(funcName)s() } - ( %(levelname)s ) : %(message)s
datefmt=%m/%d/%Y %I:%M:%S %p
